<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Access</a>
    </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href='#/searchVenue'>Find Venue</a></li>
        <li class='active'><a href='#/addVenue'>Add Venue</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class='container col-md-offset-4 col-md-4 col-md-offset-4' ng-controller="addVenueController">
<form name="venue" class='form-horizontal' ng-submit="addVenue()">
    <fieldset>
    <legend>Enter venue information</legend>
      <div class='form-group'>
         <label class="col-md-4">Venue name</label>
         <input class="col-md-8" id="venueName" name="venue" type="text" ng-model="venue.name" placeholder="Add venue name">
         <label class="col-md-4">Venue address</label>
         <input class="col-md-8" id="venueAddress" name="venue" type="text" ng-model="venue.address" placeholder="Add venue address">
        <div class="panel">

         <input class="col-md-3" type="checkbox" id="mobilityImpaired" name="venue" ng-model="venue.impairmentInfoAvailable.mobilityImpaired"> <span class="col-md-3"> Access for Mobility Impaired </span>
         <input class="col-md-3" type="checkbox" id="ramp" name="venue" ng-model="venue.mobilityImpaired.ramp"> <span class="col-md-3"> Ramp </span>
         <input class="col-md-3" type="checkbox" id="steps" name="venue" ng-model="venue.mobilityImpaired.steps"> <span class="col-md-3"> Steps</span>
         <input class="col-md-3" type="checkbox" id="elevator" name="venue" ng-model="venue.mobilityImpaired.elevator"> <span class="col-md-3"> Elevator </span>
         <input class="col-md-3" type="checkbox" id="disabledParking" name="venue" ng-model="venue.mobilityImpaired.diabledParking"> <span class="col-md-3"> Disabled Parking </span>
         <input class="col-md-3" type="checkbox" id="seating" name="venue" ng-model="venue.mobilityImpaired.seating"> <span class="col-md-3"> Seating </span>
         <input class="col-md-3" type="checkbox" id="restroom" name="venue" ng-model="venue.mobilityImpaired.restroom"> <span class="col-md-3"> Restrooms </span>
        </div>
      </div>
    </fieldset>
  <br /><button>Add Venue</button>
</form>

</div>