<div class='navigation'>
  <ul>
    <li><a href='#/searchVenue'>Search Venues</a></li>
    <li><a href='#/addVenue'>Add Venue</a></li>
  </ul>
</div>

<div id='container' ng-controller="addVenueController">

<form name="venue" ng-submit="addVenue()">
         <input class="text" id="venueName" name="venue" type="text" ng-model="venue.name" placeholder="Add venue name">
         <br /><input class="text" id="venueAddress" name="venue" type="text" ng-model="venue.address" placeholder="Add venue address">

         <br /><input type="checkbox" id="mobilityImpaired" name="venue" ng-model="venue.impairmentInfoAvailable.mobilityImpaired"> <span> Access for Mobility Impaired </span>
         <br /><input type="checkbox" id="visionImpaired" name="venue" ng-model="venue.impairmentInfoAvailable.visionImpaired"> <span> Access for Vision Impaired </span>
         <br /><input type="checkbox" id="hearingImpaired" name="venue" ng-model="venue.impairmentInfoAvailable.hearingImpaired"> <span> Access for Hearing Impaired </span>

  <br /><button>Add Venue</button>
</form>
</div>