<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Access</a>
    </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href='#/searchVenue'>Find Venue</a></li>
        <li class='active'><a href='#/addVenue'>Add Venue</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class='container' ng-controller="addVenueController">

<form name="venue" ng-submit="addVenue()">
         <input class="text" id="venueName" name="venue" type="text" ng-model="venue.name" placeholder="Add venue name">
         <br /><input class="text" id="venueAddress" name="venue" type="text" ng-model="venue.address" placeholder="Add venue address">

         <br /><input type="checkbox" id="mobilityImpaired" name="venue" ng-model="venue.impairmentInfoAvailable.mobilityImpaired"> <span> Access for Mobility Impaired </span>
         <br /><input type="checkbox" id="ramp" name="venue" ng-model="venue.mobilityImpaired.ramp"> <span> Ramp </span>
         <br /><input type="checkbox" id="steps" name="venue" ng-model="venue.mobilityImpaired.steps"> <span> Steps</span>
         <br /><input type="checkbox" id="elevator" name="venue" ng-model="venue.mobilityImpaired.elevator"> <span> Elevator </span>
         <br /><input type="checkbox" id="disabledParking" name="venue" ng-model="venue.mobilityImpaired.diabledParking"> <span> Disabled Parking </span>
         <br /><input type="checkbox" id="seating" name="venue" ng-model="venue.mobilityImpaired.seating"> <span> Seating </span>
         <br /><input type="checkbox" id="restroom" name="venue" ng-model="venue.mobilityImpaired.restroom"> <span> Restrooms </span>

  <br /><button>Add Venue</button>
</form>
</div>

<footer class="footer">
  <div class="container">
    <ul class="nav navbar-nav navbar-center footerNav">
        <li><a href='#/addVenue'>Home</a></li>
        <li><a href='#'>Features</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
  </div>
</footer>