/*-----------------------------------------------------------------------------
//
// BASE
//
//-----------------------------------------------------------------------------*/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 11pt/1.7 Calluna-Regular, PalatinoLynotype-Regular, serif;
  text-rendering: optimizeLegibility;
}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  line-height: 1.5;
  margin-bottom: 0.2em;
  word-break: break-all;
  word-break: break-word;
}

/*-----------------------------------------------------------------------------
//
// LAYOUT
//
//-----------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------
//
// MODULE
//
//-----------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------
//
// STATE
//
//-----------------------------------------------------------------------------*/