/*-----------------------------------------------------------------------------
//
// BASE
//
//-----------------------------------------------------------------------------*/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 11pt/1.7 'Open Sans',  sans-serif;
  text-rendering: optimizeLegibility;
}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  line-height: 1.5;
  margin-bottom: 0.2em;
  word-break: break-all;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  padding-top: 100px;
  background-color: #f5f5f5;
}


/*-----------------------------------------------------------------------------
//
// LAYOUT
//
//-----------------------------------------------------------------------------*/

.footerNav {
    width: 500px;
    float: none;
    margin: 0 auto;
}


/*-----------------------------------------------------------------------------
//
// MODULE
//
//-----------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------
//
// STATE
//
//-----------------------------------------------------------------------------*/