<div class='navigation'>
  <ul>
    <li><a href='#/searchVenue'>Search Venues</a></li>
    <li><a href='#/addVenue'>Add Venue</a></li>
  </ul>
</div>


<div id='container' ng-controller="searchVenueController">

  <input type="text" ng-model="search" placeholder="search">

  <h3 ng-if="!data.venues.length">No venues added</h3>
  <div ng-repeat="venue in data.venues | filter: search | orderBy: '-visits'"
       class="venues">
     <div class="name ng-binding">{{ venue.name }}</div>
     <div class="address ng-binding">{{ venue.address }}</div>
     <div class='mobilityImpared ng-binding'>{{ venue.impairmentInfoAvailable.mobilityImpared }}</div>
     <div class='ramp ng-binding'>{{ venue.mobilityImpaired.ramp }}</div>
     <div class='steps ng-binding'>{{ venue.mobilityImpaired.steps }}</div>
     <div class='elevator ng-binding'>{{ venue.mobilityImpaired.elevator }}</div>
     <div class='disabledParking ng-binding'>{{ venue.mobilityImpaired.disabledParking }}</div>
     <div class='seating ng-binding'>{{ venue.mobilityImpaired.seating }}</div>
     <div class='restroom ng-binding'>{{ venue.mobilityImpaired.restroom }}</div>
  </div>
</div>